QTextEdit, QMessageBox, QLabel, QWidget, QListWidget{
    background: #090d13;
    color: #999;
 }

QListWidget {
    border: none;
    margin: 10px;
 }

QScrollBar:handle {
     border: none;
     background: #343434;
     min-height: 5px;
     border-radius: 4px;
 }

QScrollBar:vertical {
     background-color: #2b2a2a;
     width: 15px;
     margin: 15px 0px 15px 6px;
     border-radius: 4px;
 }

QScrollBar:horizontal {
     background-color: #2b2a2a;
     height: 15px;
     margin: 6px 15px 0px 15px;
     border-radius: 4px;
 }

QScrollBar:sub-line:vertical, QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical:hover, QScrollBar::sub-line:vertical:on, QScrollBar::add-line:horizontal, QScrollBar:sub-line:horizontal, QScrollBar::sub-line:horizontal:hover, QScrollBar::sub-line:horizontal:on {
     height: 0px;
     width: 0px;
     subcontrol-position: none;
     subcontrol-origin: none;
     border: none;
 }

QSlider::groove:horizontal {
    height: 5px;
 }

QSlider::handle {
    background: #999;
    border: #bbb;
    margin-top: -1px;
    margin-bottom: -1px;
    height: 9px;
    width: 12px;
 }

QSlider::add-page:horizontal {
    background: #eee;
 }

QScrollBar:handle:pressed {
     background: #363636;
 }

QLabel[type="status"] {
    font-size: 13px;
    color: #666;
 }

QToolTip {
    border: 1px solid #333;
    padding: 2px;
    border-radius: 4px;
    background: #272729;
    color: #999;
 }

QListWidget::item:selected {
    background: #232325;
    color: #bbb;
 }

QCheckBox::indicator {
    width: 10px;
    height: 10px;
 }

QPushButton {
    background: #131c29;
    margin: 1px;
 }

/* blue */

QLabel[type="status"][style="blue"] {
    border-top: 1px solid #004e52;
    border-right: 1px solid #004e52;
 }

QFrame[style="blue"] {
    color: #146b70;
}

QListWidget::item:selected[style="blue"] {
    border-left: 3px solid #257c81;
 }

QCheckBox[style="blue"] {
    color: #146b70;
 }

QCheckBox::indicator[style="blue"] {
    border: 1px solid #136a67;
    color: #146b70;
 }

QCheckBox::indicator:checked[style="blue"] {
    border: 1px solid #136a67;
    color: #146b70;
    image: url(./img/tick_b.png);
 }

QPushButton[style="blue"] {
    border: 1px solid #146b70;
 }

QLabel[type="title"][style="blue"] {
    color: #146b70;
    font-size: 30px;
 }

QSlider[style="blue"]::groove:horizontal {
     background: #146b70;
 }

/* red */

QLabel[type="status"][style="red"] {
    border-top: 1px solid #AF2222;
    border-right: 1px solid #AF2222;
 }

QFrame[style="red"] {
    color: #AF2222;
}

QListWidget::item:selected[style="red"] {
    border-left: 3px solid #B61919;
 }

QCheckBox[style="red"] {
    color: #AF2222;
 }

QCheckBox::indicator[style="red"] {
    border: 1px solid #6C1313;
    color: #AB3D3D;
 }

QCheckBox::indicator:checked[style="red"] {
    border: 1px solid #AF2222;
    color: #AB3D3D;
    image: url(./img/tick_r.png);
 }

QPushButton[style="red"] {
    border: 1px solid #AF2222;
 }

QLabel[type="title"][style="red"] {
    color: #AF2222;
    font-size: 30px;
 }

QSlider::groove:horizontal[style="red"] {
     background: #AF2222;
 }
